* { @import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
}

@font-face {
    font-family: "Zurich BlkEx BT Black";
    src: url("../fonts/Zurich\ BlkEx\ BT\ Black.ttf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Myriad Pro Regular";
    src: url("../fonts/Myriad\ Pro\ Regular.otf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "MyriadPro-Semibold";
    src: url("../fonts/MyriadPro-Semibold.otf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "FontAwesome";
    src: url("../fonts/FontAwesome.otf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Dosis-SemiBold";
    src: url("../fonts/Dosis-SemiBold.otf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Merriweather-LightItalic";
    src: url("../fonts/Merriweather-LightItalic.ttf");
    font-style: normal;
    font-weight: normal;
}

body {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: center; 
    background-color: rgb(255, 255, 255);
    position: absolute;
    width: 100%;
    /*height: 7407px;*/
    z-index: 2;
}
/*STYLING HEADER_BLOCK*/
header {
    z-index: 317;
    height: 314px;
    display: flex;
    flex-grow: 0;
    text-align: center;
    flex-direction: column;
}
/*logo-line styles*/
.logo-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 250px;
}
/*Search-Block*/
.search {
    display: flex; 
    flex-direction: row;
    flex-grow: 1;
}

.input-form {
    margin: auto;
    display: inline-block;
    border: none;    
    
}

input {
    height: 100%;
    width: 85%;
    z-index: 1;
    border: none;
    font-family: 'Merriweather-LightItalic';
    font-size: 14px;
}

.input-icon {
    border: none;
    padding: 0;
    color: #575c5c;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
}

.input-icon a {
    font-family: fontawesome;
    font-size: 15px;
    color:gray;
    text-decoration: none;
}

/*Central-LOGOTIP*/
.logo {
    flex-grow: 1; 
    flex-direction: column;
    display: flex;
    align-content: space-between;
}
.text-logo-top{
    font-size: 12px;
    flex-grow: 2;
    background-image: url("../images/Mountains.png");    
    background-repeat: no-repeat;
    background-position: bottom;
    display: flex;
    flex-direction: column;
}

.header-logo {
    margin: 0px;
}
.text-logo-bottom {
    flex-grow: 1;
    font-family: "Helvetica", sans-serif;
    font-size: 18px;
    position: relative;
}

/*SUBSCRIBE button*/
.subscribe-block {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.subscribe {    
    background-color: transparent;
    border: solid 1px #e9e9e9;
    text-align: center;
    flex-direction: row;
    width: 151px;
    height: 40px;    
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Dosis-SemiBold';
    font-size: 14px;
}

.subscribe p {
    text-align: center;
    position: relative;
}

.upper-line {
    width: 100%;
    height: 1px;
    background-color: #e9e9e9;
}

.bottom-line {
    width: 100%;
    height: 1px;
    background-color: #e9e9e9;
    margin-top: 3px;
}

/*navigation styles*/
.navigation {
    height: 60px;
    width: 100%;    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.empty-left {
    flex-grow: 1;
}
.nav {
    display: flex;
    flex-grow: 2;
    justify-content: space-around;
    align-items: center;
}

.nav-link {
    font-size: 16px;
    font-family: 'MyriadPro-Semibold';
    text-decoration: none;
    text-transform: uppercase;
}

.nav a {
    color: #575c5c;
}

.nav-link:hover {
    color: aqua;
}
.empty-middle {
    flex-grow: 1;
}

.connected {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.connected a {
    color: #575c5c;
    display: flex;    
}

.social {
    text-align: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.social  i {
    display: flex;
    font-family: 'FontAwesome';
    font-size: 14px;
    text-decoration: none;   
    align-content: space-between; 
}

i {
    text-align: center;
    position: relative;
}

.facebook {
    text-decoration: none;
    font-size: 14px;    
}

.facebook:hover {
    background: skyblue;
}

.twitter {
    text-decoration: none;
}

.twitter:hover {
    background: aqua;
}

.google-plus {
    text-decoration: none;
}

.google-plus:hover {
    background: orange;
}

.instagram {
    text-decoration: none;
}

.instargam:hover {
    background: pink;
}

.youtube {
    text-decoration: none;
}

.youtube:hover {
    background: red;
}


.empty-right {
    flex-grow: 1;
}
/*STYLING MAIN CONTEINER*/
.main {    
    flex-grow: 3;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.all {
    background-color: wheat;
    width: 100%;
    display: flex;
    flex-grow: 1;
}

/*SLIDER BLOCK*/
.slider-top {
    position: absolute;
    width: 100%;
    height: 890px;
    z-index: 31;
    background: url("../images/upperlayer-slider.png") , url("../images/slider.png");
    background-repeat: no-repeat;
    background-position-x: 0px;
    background-position-y: -40px;
    display: flex; 
    flex-direction: column;
    justify-content: center;
}

.traveling {
    width: 270px;
    height: 50px;
    position: absolute;
    top: 152px;
    left: 40px;
}
  
.featured-blog {
    width: 140px;
    height: 37px;
    position: absolute;
    top: 513px;
    left: 38px;
    font-size: 18px;
    font-family: 'MyriadPro-Semibold';
    color: rgb(255, 255, 255);
    line-height: 1.067;
    text-align: left;
    z-index: 322;
}

.angles {
    position: absolute;
    top: 570px;
    left: 38px;
    width: 45px;
    height: 90px;
}

.upper-angle {
    border: solid #ffffff 1px;
    width: 43px;
    height: 43px;
}

.upper-angle:hover {
    background-color: #e21712;
}

.fa-angle-up {
    font-family: 'FontAwesome';
    font-size: 28px;
    color: #fff; 
    text-align: center;
    top: 5px;
    width: 43px;
    height: 43px;
}

.down-angle {
    border: solid #ffffff 1px;
    width: 43px;
    height: 43px;
}

.fa-angle-down {
    font-family: 'FontAwesome';
    font-size: 28px;
    color: #fff; 
    text-align: center;
    top: 10px;
}

.down-angle:hover {
    background-color: #e21712;
}

.slider-header {
    width: 480px;
    height: 48px;
    position: absolute;
    top: 560px;
    left: 70px;
}  

.slider-header p{
    font-family: 'Zurich BlkEx BT Black';
    font-size: 44px;
    text-align: center;
    text-transform: uppercase;
    font-size: 44px;
    margin: auto;
    color: #fff;
}

.slider-text {
    color: #fff;
    width: 517px;
    height: 52px;
    position: absolute;
    top: 610px;
    left: 110px;
}

.slider-text p {
    font-family: 'Myriad Pro Regular';
    font-size: 15px;
    margin: auto;
    text-align: left;
}

.explore-button {
    width: 150px;
    height: 46px;
    position: absolute;
    top: 690px;
    left: 110px;
}

.explore-button a {
    width: 150px;
    height: 46px;
}

.slider-paths {
    opacity: 30%;
    width: 65px;
    height: 15px;    
    position: absolute;
    top: 770px;
    left: 110px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.circle {
    height: 10px;
    width: 9px;
    background-color: #fff;
    border-radius: 50%;
}

.circle:hover{
    width: 7px;
    height: 8px;
    border: solid 1px #fff;
    background-color: black;
    
}

.black {
    background-color: black;
    border: solid 1px #fff;
    width: 7px;
    height: 8px;
}

.circle:hover ~ .black {
    background-color: white;
}

/*.black:hover ~ .circle {
    background-color: black;
}*/

/* full middle path of website*/

.content {
    width: 100%;
    height: 100vh;
    background-color: orange;
    display: flex;
}

/* SIDEBAR*/
.sidebar {
    background-color: pink;
    display: flex;
    width: 100%;

}




/*BLOG-CONTENT*/
.blog-content {
    background-color: blue;
    display: flex;
    width: 100%;
}






/*STYLING FOOTER_BLOCK*/
footer {
    width: 100%;
    background-color: yellow;
    flex-grow: 0;
    text-align: center;
}